{% extends 'Farmer_Base.html' %}
{% block Farmer %}
<title>Farmer Home</title>
{% load static %}
<div class="Farmer_Home2">
    <div>
        <img src="{% static 'Images/Pics/farm1.jpg' %}">
    </div>
    <div>
        <p>India's agriculture is composed of many crops, with the foremost food staples being rice and wheat.
           Indian farmers also grow pulses, potatoes, sugarcane, oilseeds, and such non-food items as cotton, tea, coffee, rubber, and jute (a glossy fiber used to make burlap and twine).
           India is a fisheries giant as well. A total catch of about 3 million metric tons annually ranks India among the world's top 10 fishing nations.
           India's agriculture is composed of many crops, with the foremost food staples being rice and wheat.
        </p>
    </div>
</div>
<div class="Farmer_Home2">
    <div>
        <p>India's agriculture is composed of many crops, with the foremost food staples being rice and wheat.
           Indian farmers also grow pulses, potatoes, sugarcane, oilseeds, and such non-food items as cotton, tea, coffee, rubber, and jute (a glossy fiber used to make burlap and twine).
           India is a fisheries giant as well. A total catch of about 3 million metric tons annually ranks India among the world's top 10 fishing nations.
           India's agriculture is composed of many crops, with the foremost food staples being rice and wheat.
        </p>
    </div>
    <div>
        <img src="{% static 'Images/Pics/farm1.jpg' %}">
    </div>
</div>
{% endblock %}