{% extends 'Farmer_Base.html' %}
{% block Farmer %}
<title>Notifications</title>
<style>
    /*  Farmer Notifications Page CSS Started Here */

    .Farmer_Not1{float: left;width: 100%;height: 100px;}
    .Farmer_Not1 img{ float: left; width: 100px; height: 75px; margin-top: 10px; margin-left: 20px; border-radius:5px ; -webkit-border-radius:5px ; -moz-border-radius:5px ; -ms-border-radius:5px ; -o-border-radius:5px ; }
    .Farmer_Not1 b{margin-left: 20px;font-size: larger;}

    /*  Farmer Notifications Page CSS Ended Here */
</style>
{% load static %}
<div class="Farmer_Not1">
    <img src="{% static 'Images/Pics/farm1.jpg' %}">
    <p><b>Your Order Id : </b>83771175</p>
</div>
<div class="Farmer_Not1">
    <img src="{% static 'Images/Pics/farm1.jpg' %}">
    <p><b>Your Payment Is Success</b></p>
</div>
<div class="Farmer_Not1">
    <img src="{% static 'Images/Pics/farm1.jpg' %}">
    <p><b>Your Order Is Confirmed</b></p>
</div>
<div class="Farmer_Not1">
    <img src="{% static 'Images/Pics/farm1.jpg' %}">
    <p><b>Your Order Delivered Successful Today</b></p>
</div>
{% endblock %}
