{% extends 'Farmer_Base.html' %}
{% block Farmer %}
<title>Farmer Info</title>
<style>
    /*  Farmer Profile Page CSS Started Here */

    .Farmer_Info1{float: left;width: 100%;height: 500px;background-color:  rgba(95, 158, 160, 0.205);}
    .Farmer_Info2{float: left;width: 45%;height: 325px;margin-top: 40px;text-align: center; margin-left: 48px;background-color: whitesmoke;border-radius: 5px;box-shadow: rgba(0, 0, 0, 0.479) 3px 5px 5px 5px;}
    .Farmer_Info2 p{margin-top: 15px;}
    .Farmer_Info2 b{text-align: center;margin-top: 10px;}
    .Farmer_Info2 u{font-weight: bold;font-family: sans-serif;font-size: x-large;color: rgb(43, 10, 78);}
    .Farmer_Info2 div{float: left;width: 100%;margin-top: 15px;text-align: justify;}
    .Farmer_Info2 div label{float: left;width: 30%;font-size: large;margin-left: 20px;}
    .Farmer_Info2 a{font-size: large;margin-left: 20px;}
    .Farmer_Info3{float: left;width: 45%;height: 325px;margin-top: 40px;margin-left: 48px;text-align: center;background-color: whitesmoke;border-radius: 5px;box-shadow: rgba(0, 0, 0, 0.479) 3px 5px 5px 5px;}
    .Farmer_Info3 p{margin-top: 15px;}
    .Farmer_Info3 u{font-weight: bold;font-family: sans-serif;font-size: x-large;color: rgb(43, 10, 78);}
    .Farmer_Info3 div{float: left;width: 100%;margin-top: 15px;text-align: justify;}
    .Farmer_Info3 a{font-size: large;margin-left: 20px;}
    .Farmer_Info3 div label{float: left;width: 35%;font-size: large;margin-left: 20px;}

    /*  Farmer Profile Page CSS Ended Here */

</style>
{% load static %}
<div class="Farmer_Info1">
    <div class="Farmer_Info2">
        <p><u>Your Profile  </u></p>
        <div>
            <label>Name </label>
            : -------------
        </div>
        <div>
            <label>Contact Number </label>
            : -------------
        </div>
        <div>
            <label>Email-Id</label>
            : -------------
        </div>
        <div>
            <label>Permanent Address</label>
            : -------------
        </div>
        <div>
            <label>Address For Delivery</label>
            <a href="faddress">Delivery Address</a>
        </div>
        <div>
            <a href="">Edit your profile</a>
        </div>
    </div>
    <div class="Farmer_Info3">
        <p><u>Previous Payment Details  </u></p>
        <div>
            <label>Account Number </label>
            : -------------
        </div>
        <div>
            <label>Card Number</label>
            : -------------
        </div>
        <div>
            <label>Holder Name </label>
            : -------------
        </div>
        <div>
            <label>IFSC Code</label>
            : -------------
        </div>
        <div>
            <label>Bank Name </label>
            : -------------
        </div>
        <div>
            <label>Mobile Number </label>
            : -------------
        </div>
        <div>
            <a href="">Edit/Remove your payment details</a>
        </div>
    </div>
</div>
{% endblock %}
