{% extends 'Farmer_Base.html' %}
{% block Farmer %}
<title>Product Details</title>
<style>
    /*  Farmer Single Product Page CSS Started Here */

.single1{float: left;width: 100%;height: 600px;background-color: lightseagreen;color: white;}
.single2{float: left;width: 90%;height: 550px;transform: translate(-50,-50);top: 25%;left: 5%;position: absolute;}
.single3{float: left;width: 35%;height: 400px;margin-left: 20px;margin-top: 15px;}
.single4{float: left;width: 50%;height: 400px;margin-left: 40px;margin-top: 50px;text-align: justify;}
.single5{float: left;width: 100%;height: 100px;margin-left: 20px;margin-top: 15px;}
.single5 button{width: 25%;height: 35px;margin-left: 70px;border-radius: 10px;outline: none;}
.single1 img{float: left;width: 65%;height: 90%;border-radius: 15px;margin-left: 50px;}

/*  Farmer Single Product Page CSS Ended Here */
</style>
{% load static %}
<div class="single1" >
    {% for mes in messages %}
      <h3>{{mes}}</h3>
    {% endfor %}
    <div class="single2">
        {% for i in Data %}
            <div class="single3">
                <h3><img src="{{i.Image.url}}"></h3>
            </div>
            <div class="single4">
                <p><b> Name : </b> {{i.Name}}</p>
                <p><b> Price : </b> {{i.Price}} / {{i.Weight}}{{i.Weight1}}</p>
                <p>{{i.Description}}</p>
                <div class="single5">
                    <p><b>Quantity : </b><input style="width: 45px;text-align:center"  type="number" name="Quantity" value=1></p>
                </div>
                <div class="single5">
                    <button>Add To Cart</button>
                    <button>Buy Now</button>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
