{% extends 'Home_Base.html' %}
{% block Home %}
<title>Admin Login</title>
{% load static %}
<style>
    .Admin_login1{height: 300px;width: 30%;float: left;position: absolute;top: 30%;left: 34%;background-color: rgb(198, 202, 198);border-bottom-left-radius: 50px; border-top-right-radius: 50px;}
    .Admin_login2{height: 55px;width: 100%;background-color: rgb(112, 187, 187);float: left;text-align: center;text-decoration: underline;padding-bottom: 10px;border-top-right-radius: 50px;}
    .Admin_login3{height: 150px;width: 100%;float: left;}
    .Admin_login4{height: 150px;width: 100%;float: left;}
    .Admin_login3 div{width: 100%;float: left;text-align: center;}
    .Admin_login3 div label{height: 50px;width: 35%; float: left;margin-top: 25px;font-family: sans-serif;margin-left: 20px;}
    .Admin_login3 div input{float: left; height: 32px;width: 45%;border-radius: 5px;}
    .Admin_login3 div button{width: 30%;height: 35px;background-color: black; border: 2px solid lime;cursor: pointer;font-size:x-large;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: gainsboro;border-radius: 20px;outline: none;}
</style>
<div class="Admin_login1">
    <div class="Admin_login2">
        <h1>Admin Login</h1>
    </div>
    <div class="Admin_login3">
        <form action="fdata" method="POST">
            {% csrf_token %}
            <div>
                <label>Username :</label><br>
                <input type="text" required name="uname"><br><br>
            </div>
            <div>
                <label>Password :</label><br>
                <input type="password" required name="password"><br>
            </div>
            <div>
                <button type="submit">Login</button>
                <a href="fdata">Login</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
