{% extends 'Home_Base.html' %}
{% block Home %}
<title>Contact Us</title>
<style>
    /* Contact Us Page CSS Started Here */

.Contact1{float: left;width: 100%;height: 650px;background-image: url(sea.jpg);background-size: cover;border-radius: 4px;margin-top: 5px;}
.Contact2{float: left;text-align: center;height: 150px;width: 100%;}
.Contact2 h1{color: aliceblue;}
.Contact2 p{color: aliceblue;font-size: large;}
.Contact3{float: left;width: 100%;height: 500px;text-align: center;}
.Contact4{float: left;width: 40%;height: 450px;text-align: center;margin-top: 15px; margin-left: 120px;border-radius: 10px;background-color: rgba(222, 184, 135, 0.76);}
.Contact5{float: left;width: 35%;height: 450px;text-align: center;margin-left: 80px;border-radius: 10px;background-color:  rgba(222, 184, 135, 0.76);}
.Contact6 {float: left;width: 100%;height: 70px;}
.Contact6 div{float: left;width: 40%;height: 50px;margin-left: 50px;text-align: center;}
.Contact6 div label{float: left; font-size: large;}
.Contact6 div input{float: left; width: 100%;height: 32px;}
.Contact7{float: left;width: 90%;height: 100px;margin-left: 50px;}
.Contact7 label{float: left;font-size: large;}
.Contact7 textarea{float: left; width: 98%;height: 100px;}
.Contact6 button{float: left;margin-top: 50px;margin-left: 50px;width: 20%;height: 45px;font-size: large;background-color: green;font-weight: bolder;}
.Contact8{float: left;width: 80%;height: 350px;}
.Contact8 img{float: left;text-align: center;width: 100%;height: 325px;margin-left: 60px;border-radius: 10px;}

/* Contact Us Page CSS Ended Here */

</style>
{% load static %}
<div class="Contact1" style="background-image: url({% static 'Images/Pics/sea.jpg' %})">
    <div class="Contact2">
        <h1>Get in touch</h1>
        <p>Want to get in touch?We'd love to hear from you.Here's how you can reach us....</p>
    </div>
    <div class="Contact3">
        <form>
            <div class="Contact4">
                <u><h2>Message Us.....</h2></u>
                <div class="Contact6">
                    <div>
                        <label>First Name :</label><br>
                        <input type="text" name="Contact FName" placeholder="Enter Here" required >
                    </div>
                    <div>
                        <label>Last Name :</label><br>
                        <input type="text" name="Contact LName" placeholder="Enter Here" required>
                    </div>
                </div>
                <div class="Contact6">
                    <div>
                        <label>Mobile Number :</label><br>
                        <input type="tel" name="Contact MNumber" placeholder="Enter Here" pattern="^\d{10}$" required>
                    </div>
                    <div>
                        <label>Email-Id :</label><br>
                        <input type="email" name="Contact Email" placeholder="Enter Her" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="characters must be in lower case" required>
                    </div>
                </div>
                <div class="Contact7">
                    <label>Text Here :</label><br>
                    <textarea name="messege" placeholder="Enter Here" required></textarea>
                </div>
                <div class="Contact6">
                    <button type="submit">SUBMIT</button>
                </div>
            </div>
        </form>
        <div class="Contact5">
            <u><h2>We are here.....</h2></u>
            <div class="Contact8">
                Google Map here
                <img src="{% static 'Images/Pics/torch.jpg' %}">
            </div>
        </div>
    </div>
</div>
{% endblock %}
