{% extends 'Home_Base.html' %}
{% block Home %}
<title>Farmer Login</title>
<style>
    /* Farmer Login In Page CSS Started */

.customer1{float: left;text-align: center; background-image: url(rom.jpg);width: 100%;height: 550px;background-size: cover;margin-top: 5px;border-radius: 5px;}
.customer2{float: left;text-align: center;transform: translate(-50,-50);position: absolute; width: 25%;height: 350px;top: 36%;left: 36%; border: 2px solid lime;background-color: rgba(0, 0, 0, 0.603);border-radius: 10px;}
.customer2 b{float: left; text-align: center;border-bottom: 5px solid lime;width: 80%;height: 45px; margin-left: 40px;color: gainsboro;font-size: xx-large;margin-top: 5px;border-radius: 5px;}
.customer3{float: left;width: 50%;height: 30px;margin-top: 20px;border-bottom: 1px solid lime;margin-left: 24%}
.customer3 input{float: left;text-align: center; width: 80%;height: 30px; background: none;outline: none;border: none;font-size: large;color: gainsboro;}
.customer4{float: left; width: 18px;height: 18px;margin-left: 2px;}
.customer5{float: left; width: 22px;height: 25px;}
.customer6{float: left;width: 100%;height: 50px;text-align: center; margin-top: 25px;}
.customer6 button{width: 35%;height: 35px;background: none;border: 2px solid lime;cursor: pointer;font-size:x-large;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color: gainsboro;border-radius: 20px;;outline: none;}
.customer7{float: left;width: 100%;height: 20px; text-align: center;margin-top: 5px;}
.customer7 a{ text-align: center;color: lime; text-decoration: none;font-size: larger;}
.customer7 p{text-align: center;color: lime;}
.customer8{float: left;text-align: center; width: 100%;height: 30px;color: gainsboro;font-size: large;}
.customer9{margin-top: 10px;margin-right: 70px;}

/*  Farmer Login Sign In Page CSS Closed */

</style>
{% load static %}
<form>
    <div class="customer1" style="background-image: url({% static 'Images/Pics/rom.jpg' %})">
        <div class="customer2">
            <b>Customer Login</b>
            <div class="customer3">
                <img class="customer4" src="{% static 'Images/Icon/people.png' %}"></img>
                <input type="text" placeholder="Username" required maxlength="15"></input>
            </div>
            <div class="customer3">
                <img class="customer5" src="{% static 'Images/Icon/lock.png' %}"></img>
                <input type="password" placeholder="Password" required maxlength="10"></input>
            </div>
            <div class="customer8">
                <p class="customer9"><input type="checkbox"> Remember Me</input></p>
            </div>
            <div class="customer6">
                <button type="submit" >Login</button>
                <a style="color: red;" href="fhome" >Login</a>
            </div>
            <div class="customer7">
                <a href="#">Forget Password?/Username</a>
            </div>
            <div class="customer7">
                <p><a href="registration">Click Here To Register</a></p>
            </div>
        </div>
    </div>
</form>
{% endblock %}
