{% load static %}
<html>
    <head>
        <link href="{% static 'CSS/home.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="d1">
            <div class="b1" >
                <div class="logo">
                    <img src="{% static 'Images/Logo/my.png' %}">
                </div>
                <div class="d2" >
                    <input type="text" placeholder="Search Product,Details">
                    <button type="submit" >Search</button>
                </div>
                <div class="d3" >
                    <p><b>Contact No:</b> +91-9550027195 , 9666412540</p> 
                    <p><b>Email Id :</b> info@e-fertilizers.com</p>
                </div>
            </div>
        </div>
        <div class="Dealer_Home1">
            <a href="dhome">Home</a>
            <a href="add">Add Products</a>
            <a href="delete_and_update">Delete/Update Products</a>
            <a href="dorders">Received Orders</a>
            <a href="deliverystatus">Delivery Status</a>
            <a href="/">Logout</a>
        </div>
        {% block Dealer %}
        
        {% endblock %}
    </body>
</html>