{% extends 'Farmer_Base.html' %}
{% block Farmer %}
<title>Notifications</title>
{% load static %}
<div class="Farmer_Not1">
    <img src="{% static 'Images/Pics/farm1.jpg' %}">
    <p><b>Your Order Id : </b>83771175</p>
</div>
<div class="Farmer_Not1">
    <img src="{% static 'Images/Pics/farm1.jpg' %}">
    <p><b>Your Payment Is Success</b></p>
</div>
<div class="Farmer_Not1">
    <img src="{% static 'Images/Pics/farm1.jpg' %}">
    <p><b>Your Order Is Confirmed</b></p>
</div>
<div class="Farmer_Not1">
    <img src="{% static 'Images/Pics/farm1.jpg' %}">
    <p><b>Your Order Delivered Successful Today</b></p>
</div>
{% endblock %}
