{% extends 'Farmer_Base.html' %}
{% block Farmer %}
<title>Farmer Info</title>
{% load static %}
<div class="Farmer_Info1">
    <div class="Farmer_Info2">
        <p><u>Your Profile  </u></p>
        <div>
            <label>Name </label>
            : -------------
        </div>
        <div>
            <label>Contact Number </label>
            : -------------
        </div>
        <div>
            <label>Email-Id</label>
            : -------------
        </div>
        <div>
            <label>Permanent Address</label>
            : -------------
        </div>
        <div>
            <label>Address For Delivery</label>
            <a href="faddress">Delivery Address</a>
        </div>
        <div>
            <a href="">Edit your profile</a>
        </div>
    </div>
    <div class="Farmer_Info3">
        <p><u>Previous Payment Details  </u></p>
        <div>
            <label>Account Number </label>
            : -------------
        </div>
        <div>
            <label>Card Number</label>
            : -------------
        </div>
        <div>
            <label>Holder Name </label>
            : -------------
        </div>
        <div>
            <label>IFSC Code</label>
            : -------------
        </div>
        <div>
            <label>Bank Name </label>
            : -------------
        </div>
        <div>
            <label>Mobile Number </label>
            : -------------
        </div>
        <div>
            <a href="">Edit/Remove your payment details</a>
        </div>
    </div>
</div>
{% endblock %}
