{% extends 'Home_Base.html' %}
{% block Home %}
<title>Products</title>
{% load static %}
<div class="Product11">
    <div class="Product22">
        <div class="Product33">
            <div class="Product44">
                <img src="{% static 'Images/Pics/farm1.jpg' %}">
            </div>
            <p><b>Product Name:</b>D.A.P</p>
            <p><b>Price:</b>&#8377.1175(50 kg Bag) </p>
            <p class="Product55"> 
                Diammonium phosphate (DAP) is the world's most widely used phosphorus fertilizer. 
                It's made from two common constituents.
             </p>
            <button type="button">Add To Cart</button>
            <button type="button">Buy Now</button>
        </div>
        <div class="Product33">
            <div class="Product44">
                <img src="{% static 'Images/Pics/farm1.jpg' %}">
            </div>
            <p><b>Product Name:</b>D.A.P</p>
            <p><b>Price:</b>&#8377.1175(50 kg Bag) </p>
            <p class="Product55"> 
                Diammonium phosphate (DAP) is the world's most widely used phosphorus fertilizer. 
                It's made from two common constituents.
             </p>
            <button type="button">Add To Cart</button>
            <button type="button">Buy Now</button>
        </div>
        <div class="Product33">
            <div class="Product44">
                <img src="{% static 'Images/Pics/farm1.jpg' %}">
            </div>
            <p><b>Product Name:</b>D.A.P</p>
            <p><b>Price:</b>&#8377.1175(50 kg Bag) </p>
            <p class="Product55"> 
                Diammonium phosphate (DAP) is the world's most widely used phosphorus fertilizer. 
                It's made from two common constituents.
             </p>
            <button type="button">Add To Cart</button>
            <button type="button">Buy Now</button>
        </div>
        <div class="Product33">
            <div class="Product44">
                <img src="{% static 'Images/Pics/farm1.jpg' %}">
            </div>
            <p><b>Product Name:</b>D.A.P</p>
            <p><b>Price:</b>&#8377.1175(50 kg Bag) </p>
            <p class="Product55"> 
                Diammonium phosphate (DAP) is the world's most widely used phosphorus fertilizer. 
                It's made from two common constituents.
             </p>
            <button type="button">Add To Cart</button>
            <button type="button">Buy Now</button>
        </div>
    </div>
    <div class="Product22">
        <div class="Product33">
            <div class="Product44">
                <img src="{% static 'Images/Pics/farm1.jpg' %}">
            </div>
            <p><b>Product Name:</b>D.A.P</p>
            <p><b>Price:</b>&#8377.1175(50 kg Bag) </p>
            <p class="Product55"> 
                Diammonium phosphate (DAP) is the world's most widely used phosphorus fertilizer. 
                It's made from two common constituents.
             </p>
            <button type="button">Add To Cart</button>
            <button type="button">Buy Now</button>
        </div>
        <div class="Product33">
            <div class="Product44">
                <img src="{% static 'Images/Pics/farm1.jpg' %}">
            </div>
            <p><b>Product Name:</b>D.A.P</p>
            <p><b>Price:</b>&#8377.1175(50 kg Bag) </p>
            <p class="Product55"> 
                Diammonium phosphate (DAP) is the world's most widely used phosphorus fertilizer. 
                It's made from two common constituents.
             </p>
            <button type="button">Add To Cart</button>
            <button type="button">Buy Now</button>
        </div>
        <div class="Product33">
            <div class="Product44">
                <img src="{% static 'Images/Pics/farm1.jpg' %}">
            </div>
            <p><b>Product Name:</b>D.A.P</p>
            <p><b>Price:</b>&#8377.1175(50 kg Bag) </p>
            <p class="Product55"> 
                Diammonium phosphate (DAP) is the world's most widely used phosphorus fertilizer. 
                It's made from two common constituents.
             </p>
            <button type="button">Add To Cart</button>
            <button type="button">Buy Now</button>
        </div>
        <div class="Product33">
            <div class="Product44">
                <img src="{% static 'Images/Pics/farm1.jpg' %}">
            </div>
            <p><b>Product Name:</b>D.A.P</p>
            <p><b>Price:</b>&#8377.1175(50 kg Bag) </p>
            <p class="Product55"> 
                Diammonium phosphate (DAP) is the world's most widely used phosphorus fertilizer. 
                It's made from two common constituents.
             </p>
            <button type="button">Add To Cart</button>
            <button type="button">Buy Now</button>
        </div>
    </div>
</div>
<footer>
    <div class="f1">
        <b class="f2" >FERTILIZER'S PVT LTD</b>
        <p class="f3">
            Organic farming promotes the use of crop rotations and 
            cover crops, and encourages balanced host/predator
            relationships. Organic residues and nutrients produced
            on the farm are recycled back to the soil.
        </p>
        <b><h3>FOLLOW US ON</h3></b>
        <img src="{% static 'Images/Icon/facebook.png' %}">  <img src="{% static 'Images/Icon/instagram (1).png' %}">  <img src="{% static 'Images/Icon/google-plus.png' %}">  <img src="{% static 'Images/Icon/whatsapp.png' %}">  <img src="{% static 'Images/Icon/Twitter.png' %}">
    </div>
    <div class="f1">
        <div class="f4">
            <b class="f2" >QUICK LINKS</b>
        </div> 
        <div class="f5">
            <div class="f6">
               <a class="f7" href="home.html">Home</a>
               <a class="f7" href="#">Products</a>
               <a class="f7" href="#">Media</a>
            </div>
            <div class="f6">
               <a class="f7" href="#">About Us</a>
               <a class="f7" href="#">Services</a>
               <a class="f7" href="#">Contact Us</a>  
            </div>
        </div>
    </div>
    <div class="f1">
        <b class="f2">CONTACT US</b>
        <p>
            <p>E-FERTILIZER'S PVT LTD</p>
            <p><img src="{% static 'Images/Icon/loc2.png' %}"> Complex,1st Floor,BSF & Reva Circles,</p>
            <p>Ramanthapur,Ambarpet Main Road.</p>
            <p>Uppal,Hyderabad-500013</p>
            <p><img class="fimg" src="{% static 'Images/Icon/mail1.png' %}"> info@e-fertilizers.com</p>
            <p><img class="fimg" src="{% static 'Images/Icon/call1.png' %}"> +91-9550027195 , 9666412540</p>
        </p>
    </div>
</footer>
{% endblock %}
