{% extends 'Dealer_Base.html' %}
{% block Dealer %}
<title>Delete and Update Product</title>
<style>
    /* Delete and Update Products Page CSS Started Here */

.Delete_Product1{float: left;width: 100%;height: 700px;margin-top: 2px;background-color: rgb(104, 228, 222)}
.Delete_Product2{float: left;width: 80%;height: 400px;transform: translate(-50,-50);top: 30%;left: 10%;position: absolute;border-radius: 5px;}
.Delete_Product2 u{font-weight: bold;font-size: x-large;text-align: center;color: rgb(43, 10, 78);}
.Delete_Product2 table{width: 100%;border: 1px solid black;}
.Delete_Product2 th{border: 1px solid black;width: 12%;color: rgb(80, 33, 80); font-weight: bold;font-size: large;}
.Delete_Product2 td{border: 1px solid black;text-align: center;height: 25px;width: 12%;}
.Delete_Product3{border-radius: 10px;margin-top: 5px;margin-bottom: 5px;height: 80px;width: 75%;}
.Delete_Product2 tr{height: 35px;}
.Delete_Product2 button{background-color: limegreen;color: white;width: 50%;width: 75%;height: 30px;border-radius: 10px;outline: none;color: black;font-weight: bold;font-size: medium;}
.Delete_Product4{width: 50px;height: 50px;}

/* Delete and Update Products Page CSS Ended Here */
</style>
{% load static %}
<div class="Delete_Product1">
    <div class="Delete_Product2">
        <table>
            <tr>
                <th colspan="8">
                    <u>Update/Delete Product</u>
                </th>
            </tr>
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Product Image</th>
                <th>Product Price</th>
                <th>Product Quantity</th>
                <th>Product Weight</th>
                <th>Update Product</th>
                <th>Delete Product</th>
            </tr>
            
                {% for p in pro %}
                <tr>
                    <td>{{p.id}}</td>
                    <td>{{p.Name}}</td>
                    <td><img class="Delete_Product3" src="{{p.Image.url}}"></td>
                    <td>&#8377 {{p.Price}}</td>
                    <td>{{p.Quantity}}</td>
                    <td>{{p.Weight}}/{{p.Weight1}}</td>
                    <form action="update" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{p.id}}">
                        <td><button type="submit">Update</button></td>
                    </form>
                    <td>
                        <a href="delete?id={{p.id}}">
                            <img class="Delete_Product4" src="{% static 'Images/Icon/garbage.png' %}">
                        </a>
                    </td>
                </tr>
                {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
