{% extends 'Dealer_Base.html' %}
{% block Dealer %}
<title>Received Orders</title>
<style>
    /* Order Received Page CSS Started Here */

.Order_Received1{float: left;width: 100%;height: 555px;margin-top: 2px;background-color: rgb(104, 228, 222)}
.Order_Received2{float: left;width: 55%;height: 400px;transform: translate(-50,-50);top: 30%;left: 20%;position: absolute;border-radius: 5px;}
.Order_Received2 u{font-weight: bold;font-size: x-large;text-align: center;color: rgb(43, 10, 78);}
.Order_Received2 table{width: 100%;border: 1px solid black;}
.Order_Received2 th{border: 1px solid black;width: 20%;color: rgb(80, 33, 80); font-weight: bold;font-size: large;}
.Order_Received2 td{border: 1px solid black;text-align: center;height: 25px;}
.Order_Received2 tr{height: 30px;}
.Order_Received2 button{background-color: green;color: white;width: 50%;}

/* Order Received Page CSS Ended Here */
</style>
{% load static %}
<div class="Order_Received1">
    <div class="Order_Received2">
        <table>
            <tr>
                <th colspan="7">
                    <u>Order info</u>
                </th>
            </tr>
            <tr>
                <th>Product_Id</th>
                <th>Order_Id</th>
                <th>Product_Name</th>
                <th>Product_Quantity</th>
                <th>Payment_Mode</th>
                <th>Total_Amount</th>
                <th>Cancel_Order</th>
            </tr>
            {% for i in Data %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.Order_Id}}</td>
                    <td>{{i.Name}}</td>
                    <td>{{i.Quantity}}</td>
                    <td>{{i.Payment_Mode}}</td>
                    <td>&#8377 {{i.Price}}</td>
                    <td><button>Cancel</button></td>
                </tr>  
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}